NODE_ENV=development
PORT=3800

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL_CERT=
DB_SSL_KEY=
DB_SSL_CA=

#--------------------------------------------------------------------
# JWT
#--------------------------------------------------------------------
JWT_SECRET=your-super-secret-key-minimum-32-characters-long
JWT_EXPIRES_IN=7d

#--------------------------------------------------------------------
# CORS
#--------------------------------------------------------------------
ALLOWED_ORIGINS=


#--------------------------------------------------------------------
# MAILER
#--------------------------------------------------------------------
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
MAIL_FROM_NAME=